@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "modale";
@import "single-photo";
@import "lightbox";

html{
    max-width: 1440px;
    margin: auto;
}

main {
    margin-right: 2em;
    margin-left: 2em;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    object-fit: contain;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
}

#sidebar {
    display: none;
}

@media screen and (max-width:768px) {
    html, body, main {
        width: fit-content;
    }
}

 /************************** Header ********************************/
 .header {
    margin: 0 10%;
    .container-header {
        height: 5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            object-fit: contain;
          }
      }
  }

 .navbar {
    display: flex;
    align-items: center;
    list-style: none;
    .menu-item {
        font-family: 'Space-mono';
        font-size: 16px;
        font-weight: 400;
        padding-left: 2.8em;
        transition: transform .5s ease-in-out;
        &:hover {
            transform: scale(1.2);
          }
        a {
            cursor: pointer;
            color: black;
            margin: auto;
            text-transform: uppercase;
            font-family: 'Space Mono', monospace;
        }
      }
  }

.burger {
    display: none;
}
  
@media screen and (max-width:768px) {
    .header {
        margin: 0 0%;
    }
    .navbar {
        display: none;
        .menu-item {
            padding-left: 0;
            a {
                margin-top: 38px;
            }
        }
    }
  
    .burger {
      display:block;
      position:relative;
      padding:0;
      width:45px;
      height:45px;
      right: 15px;
      border:none;
      background:transparent;
      cursor:pointer;
    }
    .bar {
      display:block;    
      width:45px;
      height:4px;  
      border-radius:3px;
      background: black; 
      transition: all .5s ease-in-out;   
    }
    .bar::before, .bar::after {
      content:"";
      width:45px;
      height:4px;
      position:absolute; 
      left:0;  
      background:black; 
      border-radius:3px;    
      transition: all .5s ease-in-out;
    }
    .bar::before {
      transform:translateY(-12px)
    }
    .bar::after {
      transform:translateY(12px)
    }
    .show-nav .bar {
      width:0;
      background:transparent;    
    }
    .show-nav .bar::before {
      transform:rotate(45deg);
    }
    .show-nav .bar::after {
      transform:rotate(-45deg);
    }
    .show-nav .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 70px;
        background: red;
        width: 100%;
        height: 100%;
        left: 0;
        line-height: 2.5em;
        z-index: 1;
        a {
            font-size: 2em;
            margin-top: 47px;
            color: white;
        }
    }
}


/************************** Hero **********************************/
.hero-area {
    .hero-thumbnail {
        .title-hero {
            position: absolute;
            font-family: "Space Mono";
            font-size: 96px;
            font-style: italic;
            font-weight: 700;
            text-transform: uppercase;
            top: calc(50% - 72px);
            left: 50%;
            transform: translate3d(-50%, -50%, 0);
            width: 100%;
            text-align: center;
            color: transparent;
            -webkit-text-stroke: 2px rgb(255, 255, 255);
        }
    }
}

.hero-area img {    
    object-fit: cover;
    min-width: 100%;
    height: calc(100vh - 5em);
}

@media screen and (max-width:768px) {
    .hero-area {
        .hero-thumbnail {
            margin-bottom: 3em;
            .title-hero {
                font-size: 55px;
                top: calc(50% - 16px);
                left: 49%;
            }
        }
    }
}


/***************************Filtre**********************************/
.filtre{
    margin: 2em 8.5em 0 -3.5em;
    #form-filters {
        display: flex;
        justify-content: space-between;
        select{
            height: fit-content;
            background-color: transparent;
            border: solid 1px #C9CCD1;
            border-radius: 10px;
            text-transform: uppercase;
            font-family: "space mono";
            padding: 0 1em;
            font-size: 1.2em;
            &:focus {
                border: 1.3px solid #215AFF;
                outline: none;
            }
            option {
                &:hover {
                    background: #FFD6D6 !important;
                }
                &:checked {
                    background: #E00000 !important;
                }
                
            }
        }
        #ajax_call_categories {
            margin: 0 2em 0 -3em;
        }
        #ajax_call_formats {
            margin-left: -26em;
        }
    }
}

@media screen and (max-width:768px) {
    .filtre {
        margin: 0;
        #form-filters {
            display: flex;
            flex-direction: column;
            align-items :center;
            select{
                width: 22em;
                height: 3em;
            }
            #ajax_call_categories {
                margin: 0;
                margin-bottom: 1em;
            }
            #ajax_call_formats {
                margin: 0;
                margin-bottom: 1em;
            }
        }
    }
}


/************************** Galerie ********************************/
.galerie {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px 20px;
    margin: 2% 10%;
    .image-galerie {
        position: relative;
        width: 564px;
        height: 495px;
    }
    img {
        object-fit: cover;
        width: 100%;
    }
}

@media all and (max-width: 768px) {
    .galerie {
        grid-template-columns: 1fr;
        width: 100%;
        margin-top: 2em;
        margin-bottom: 2em;
        .image-galerie {
            width: 100%;
            height: 495px;
        }
        img {
            width: 100%;
            height: 495px;
        }
    }
}

@media all and (max-width: 425px) {
    .galerie {
        margin: 2em 0;
    }
}

/************************** Footer ********************************/
.site__footer {
    padding: 3% 10%;
    border-top: 1px solid;
    margin: 3% 0 0 0;
    .footer_nav {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        a {
            text-transform: uppercase;
            cursor: pointer;
            color: black;
            font-family: 'Space Mono', monospace;
        }
    }
}

.accueil-btn-container {
    display: flex;
      align-items: center;
      justify-content: center;
    button {
        border-radius: 2px;
        background: #D8D8D8;
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
        display: flex;
        width: 22em;
        height: 3.5em;
        padding: 8px 15px;
        justify-content: center;
        align-items: center;
        border: none;
        cursor: pointer;
        font-family: 'Space Mono'; 
        &:hover {
            color: #fff;
            background-color: #000;
        }
    }
}


@media all and (max-width: 768px){
    .footer_nav {
        flex-direction: column;
        align-items: center;
        padding-top: 44px;
        margin-top: 43px;
        .menu-item{
            padding-left: 0;
            padding-bottom: 24px;
        }
    }
}

/************************** Modale ********************************/
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@keyframes fadeout {
    from { 
        opacity:1;
    }
    to {
        opacity: 0;
    }
}


