@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "modale";
@import "single-photo";

html{
    max-width: 1440px;
    margin: auto;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    object-fit: cover;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
}

 /************************** Header ********************************/
 .header {
    margin-top: 28px;
    margin-bottom: 66px;
    margin: 0 10%;
    .container-header {
        height: 5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            object-fit: contain;
          }
      }
  }

 .navbar {
    display: flex;
    align-items: center;
    list-style: none;
    .menu-item {
        font-family: 'Space-mono';
        font-size: 16px;
        font-weight: 400;
        padding-left: 2.8em;
        transition: transform .5s ease-in-out;
        &:hover {
            transform: scale(1.2);
          }
        a {
            cursor: pointer;
            color: black;
            margin: auto;
            text-transform: uppercase;
            font-family: 'Space Mono', monospace;
        }
      }
  }

.burger {
    display: none;
}
  
@media screen and (max-width:767.98px) {
    .navbar {
        display: none;
    }
  
    .burger {
      display:block;
      position:relative;
      padding:0;
      width:45px;
      height:45px;
      right: 15px;
      border:none;
      background:transparent;
      cursor:pointer;
    }
    .bar {
      display:block;    
      width:45px;
      height:4px;  
      border-radius:3px;
      background: black; 
      transition: all .5s ease-in-out;   
    }
    .bar::before, .bar::after {
      content:"";
      width:45px;
      height:4px;
      position:absolute; 
      left:0;  
      background:black; 
      border-radius:3px;    
      transition: all .5s ease-in-out;
    }
    .bar::before {
      transform:translateY(-12px)
    }
    .bar::after {
      transform:translateY(12px)
    }
    .show-nav .bar {
      width:0;
      background:transparent;    
    }
    .show-nav .bar::before {
      transform:rotate(45deg);
    }
    .show-nav .bar::after {
      transform:rotate(-45deg);
    }
    .show-nav .navbar {
        display: block;
        position: fixed;
        top: 100px;
        background: white;
        width: 100%;
        height: 100%;
        left: 0;
        line-height: 4.5em;
        a {
            font-size: 2em;
            margin-top: 47px;
        }
    }
}


/************************** Footer ********************************/
.site__footer {
    width: 100%;
    .footer_nav {
        list-style: none;
        padding: 13px 10%;
        border-top: 1px solid;
        display: flex;
        justify-content: space-evenly;
        a {
            text-transform: uppercase;
            cursor: pointer;
            color: black;
            font-family: 'Space Mono', monospace;
        }
    }
}
@media all and (max-width: 680px){
    .footer_nav {
        flex-direction: column;
        align-items: center;
        padding-top: 44px;
        margin-top: 43px;
        .menu-item{
            padding-left: 0;
            padding-bottom: 24px;
        }
    }
}


/************************** Modale ********************************/
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@keyframes fadeout {
    from { 
        opacity:1;
    }
    to {
        opacity: 0;
    }
}




