@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/************************** Modale ********************************/
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.modal {
  display: none; /* Hidden par défaut */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  overflow: auto;
  animation-duration: 2s;
}
.modal .modal-content {
  max-width: 597px;
  max-height: 769px;
  background-color: #fefefe;
  padding-bottom: 6.1em;
  margin: 15% auto;
  border: 5px solid #000000;
  width: 80%;
}
.modal .modal-content .close {
  color: #aaa;
  float: right;
  font-size: 48px;
  font-weight: bold;
  padding: 0px 6px;
}
.modal .modal-content .close:hover, .modal .modal-content .close:focus {
  color: #000000;
  cursor: pointer;
}
.modal .modal-content #wpcf7-f14-o1 {
  padding: 15%;
}
.modal .modal-content #wpcf7-f14-o1 .wpcf7-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal .modal-content #wpcf7-f14-o1 .wpcf7-form p {
  width: 322px;
}
.modal .modal-content #wpcf7-f14-o1 .wpcf7-form p label {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.modal .modal-content #wpcf7-f14-o1 .wpcf7-form p label span input {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #B8BBC2;
  margin-top: 12px;
}
.modal .modal-content #wpcf7-f14-o1 .wpcf7-form p label span textarea {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #B8BBC2;
  margin-top: 12px;
}
.modal .modal-content #wpcf7-f14-o1 .wpcf7-form p input[type=submit] {
  padding: 17px 138px;
  border: none;
  border-radius: 2px;
  background: #D8D8D8;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
  font-family: "Space Mono", monospace;
}

@media screen and (max-width: 450px) {
  .modal .modal-content #wpcf7-f14-o1 .wpcf7-form p {
    width: 244px;
  }
  .modal .modal-content #wpcf7-f14-o1 .wpcf7-form p input[type=submit] {
    padding: 17px 101px;
  }
}
.page-photo_section-bloc {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 2em;
  margin-bottom: 2em;
}
.page-photo_section-bloc_info {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  align-self: end;
  gap: 7px;
  width: 50%;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid black;
  padding-right: 17em;
  padding-bottom: 2em;
  margin-right: 2em;
}
.page-photo_section-bloc_info h1 {
  color: #000;
  font-family: Space Mono;
  font-size: 66px;
  font-style: italic;
  font-weight: 400;
  line-height: 58px;
  text-transform: uppercase;
  margin-bottom: 9px;
}
.page-photo_section-bloc .photo-container {
  width: 50%;
  display: flex;
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: end;
  margin-top: 30px;
}
.page-photo_section-bloc .photo-container img {
  width: 100%;
  max-height: 100%;
  transition: all 0.5s ease-in-out;
}
.page-photo_section-bloc .photo-container:hover .hover-photo {
  background: rgba(0, 0, 0, 0.6);
  display: block;
}
.page-photo_section-bloc .photo-container .hover-photo {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
}
.page-photo_section-bloc .photo-container .hover-photo .icone-plein-ecran {
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;
  width: 8%;
  height: auto;
}
.page-photo_section-bloc img {
  width: 100%;
  display: flex;
}

.detail-info-photo {
  color: #000;
  font-family: "Space Mono";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
.detail-info-photo a {
  color: #000;
}

.interaction-photo {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  padding-bottom: 1em;
  height: 118px;
}
.interaction-photo__contact {
  display: flex;
  gap: 84px;
}
.interaction-photo__contact p {
  font-family: "Poppins";
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.interaction-photo__contact__btn {
  border-radius: 2px;
  background: #D8D8D8;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.02);
  display: flex;
  width: 22em;
  height: 3.5em;
  padding: 8px 15px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  cursor: pointer;
}
.interaction-photo__contact__btn:hover {
  color: #fff;
  background-color: #000;
}
.interaction-photo__navigation {
  display: flex;
  justify-content: flex-end;
  flex-direction: column-reverse;
  width: 6%;
}
.interaction-photo__navigation .div-preview {
  position: relative;
  height: 8em;
}
.interaction-photo__navigation .div-preview .preview img {
  object-fit: contain;
  max-height: 100px;
  width: 100%;
}
.interaction-photo__navigation .div-preview .previous-image, .interaction-photo__navigation .div-preview .next-image {
  visibility: hidden;
  position: absolute;
}
.interaction-photo__navigation .arrows {
  display: flex;
  justify-content: space-between;
}

.page-recommandations h3 {
  color: #000;
  font-family: "Space Mono";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  margin-top: 4em;
}
.page-recommandations_photo {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
  margin-bottom: 37px;
  position: relative;
}
.page-recommandations_photo_img {
  width: 49%;
  height: 595px;
  object-fit: contain;
}
.page-recommandations_photo_img img {
  height: 100%;
  width: 100%;
}

.recommandations-btn-container {
  display: flex;
}
.recommandations-btn-container a {
  margin-right: auto;
  margin-left: auto;
}

/* LIGHTBOX */
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  background-size: contain;
  background-position: center;
  animation-duration: 1s;
}
.lightbox_div-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  min-height: 100vh;
}
.lightbox_div-img img {
  max-width: 1000px;
  max-height: 800px;
  object-fit: contain;
}
.lightbox_next, .lightbox_prev {
  background-color: transparent;
  color: white;
  border: none;
  position: fixed;
  top: 50%;
  cursor: pointer;
  font-family: "space mono";
}
.lightbox_next {
  left: auto;
  right: 100px;
}
.lightbox_prev {
  left: 100px;
  right: auto;
}
.lightbox_close {
  color: white;
  font-size: 2em;
  position: fixed;
  top: 40px;
  right: 40px;
  cursor: pointer;
}

html {
  max-width: 1440px;
  margin: auto;
}

main {
  margin-right: 2em;
  margin-left: 2em;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  object-fit: contain;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
}

/************************** Header ********************************/
.header {
  margin-top: 28px;
  margin-bottom: 66px;
  margin: 0 10%;
}
.header .container-header {
  height: 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container-header .logo {
  object-fit: contain;
}

.navbar {
  display: flex;
  align-items: center;
  list-style: none;
}
.navbar .menu-item {
  font-family: "Space-mono";
  font-size: 16px;
  font-weight: 400;
  padding-left: 2.8em;
  transition: transform 0.5s ease-in-out;
}
.navbar .menu-item:hover {
  transform: scale(1.2);
}
.navbar .menu-item a {
  cursor: pointer;
  color: black;
  margin: auto;
  text-transform: uppercase;
  font-family: "Space Mono", monospace;
}

.burger {
  display: none;
}

@media screen and (max-width: 767.98px) {
  .navbar {
    display: none;
  }
  .burger {
    display: block;
    position: relative;
    padding: 0;
    width: 45px;
    height: 45px;
    right: 15px;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  .bar {
    display: block;
    width: 45px;
    height: 4px;
    border-radius: 3px;
    background: black;
    transition: all 0.5s ease-in-out;
  }
  .bar::before, .bar::after {
    content: "";
    width: 45px;
    height: 4px;
    position: absolute;
    left: 0;
    background: black;
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
  }
  .bar::before {
    transform: translateY(-12px);
  }
  .bar::after {
    transform: translateY(12px);
  }
  .show-nav .bar {
    width: 0;
    background: transparent;
  }
  .show-nav .bar::before {
    transform: rotate(45deg);
  }
  .show-nav .bar::after {
    transform: rotate(-45deg);
  }
  .show-nav .navbar {
    display: block;
    position: fixed;
    top: 100px;
    background: white;
    width: 100%;
    height: 100%;
    left: 0;
    line-height: 4.5em;
  }
  .show-nav .navbar a {
    font-size: 2em;
    margin-top: 47px;
  }
}
/************************** Footer ********************************/
.site__footer {
  width: 100%;
}
.site__footer .footer_nav {
  list-style: none;
  padding: 13px 10%;
  border-top: 1px solid;
  display: flex;
  justify-content: space-evenly;
}
.site__footer .footer_nav a {
  text-transform: uppercase;
  cursor: pointer;
  color: black;
  font-family: "Space Mono", monospace;
}

@media all and (max-width: 680px) {
  .footer_nav {
    flex-direction: column;
    align-items: center;
    padding-top: 44px;
    margin-top: 43px;
  }
  .footer_nav .menu-item {
    padding-left: 0;
    padding-bottom: 24px;
  }
}
/************************** Modale ********************************/
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

/*# sourceMappingURL=main.css.map */
